[submodule "EFAML_WEB"]
    path = EFAML_WEB
    url = https://github.com/shuvam-banerji-seal/EFAML_WEB.git
[submodule "ChemActiva"]
	path = ChemActiva
	url = git@github.com:Shuvam-Banerji-Seal/ChemActiva.git
